<div fxLayout="column">
  <h1 class="heaing">Trending Articles</h1>
  <div fxLayoutAlign="center" *ngIf="Loader; else elseBlockl">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #elseBlockl>
    <mat-grid-list cols="4" rowHeight="2:1">
      <div *ngFor="let post of Posts | filter: searchText">
        <div>
          <mat-grid-tile (click)="openpost(post.id,post)">
            <mat-card class="example-card">
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              <mat-card-title>{{ post.title }}</mat-card-title>
              <mat-card-content>
                <p>{{ post.body }}</p>
              </mat-card-content>
              <!--  <mat-divider inset></mat-divider> -->
              <mat-card-actions>
                <p mat-button>Post By <b> {{post.user.name}}</b> on sept24,2019</p>
              </mat-card-actions>
              <mat-card-footer>
                <!--     <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
              </mat-card-footer>
            </mat-card>
          </mat-grid-tile>
        </div>
      </div>
    </mat-grid-list>
  </ng-template>
  <div fxLayoutAlign="center">
    <button  type="text">
      Post On page {{TotalActivePost}}
    </button>
    <button (click)="handleLoadMore(TotalActivePost)" type="”button”">
      Load More
    </button>
  </div>
</div>
